# Help tools that honor '.gitignore' (redundant for Git itself).
/.git

/CMakeUserPresets.json

# Common build directories
/build*/
/Bootstrap.cmk/
/CMakeCache.txt
/CMakeFiles/
**/.cmake/
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake
**/CTestTestfile.cmake
**/*.a
**/*.la
**/*.so
**/*.so.*
**/*.lo
**/*.o
**/*.obj
**/*.def
**/*.exp
**/*.lib
**/*.dll
**/*.exe
**/*.ilk
**/*.pdb
**/*.manifest
**/*.tlb
**/*.ipch
**/*_i.c
**/*_p.c
**/*_i.h
**/*.stamp
*.bin
*.xcodeproj
*.xcworkspace
*.kdev*
*.kdev4
*.pch
*.swp
*.orig
*~
*.bak
*.aux
*.log
*.lof
*.lot
*.out
*.toc
autom4te.cache
CTestCustom.cmake
DartConfiguration.tcl
install_manifest.txt
compile_commands.json
.ninja_deps
.ninja_log
Testing/
**/Testing/
*/*/Testing/
*/*/*/Testing/
cmake_uninstall.cmake
CMake.dmg
CMake.pkg
*.tar.gz
*.zip
*.sh
*.rpm
*.deb
*.build
*.build.json
*.patch
*.diff
*.tgz
*.txz
*.xz
*.zst
ExternalData
**/ExternalData
*/*/ExternalData
*/*/*/ExternalData
Utilities/Release/WiX/wix.cmake
Utilities/Release/WiX/wix.props
Utilities/Release/WiX/wix.targets
Utilities/Release/WiX/WIX.template
Utilities/Release/WiX/install_dir.wxs
Utilities/Release/WiX/options.wxs
Utilities/Release/WiX/options_dlg.wxs
Utilities/Release/WiX/custom_action_dll.wxs
Utilities/Release/WiX/cmake_nsis_overwrite_dialog.wxs
Utilities/Release/WiX/patch_desktop_shortcut.xml
Utilities/Release/WiX/patch_path_env.xml
Utilities/Release/WiX/ui_banner.jpg
Utilities/Release/WiX/ui_dialog.jpg
/Source/QtDialog/moc_*
/Source/QtDialog/ui_*.h
/Source/QtDialog/qrc_*.cpp
/Source/CursesDialog/form/cmFormConfigure.h
/Source/cmConfigure.h
/Source/cmVersionConfig.h
/Source/CPack/cmCPackConfigure.h
/Source/CTest/cmCTestConfigure.h
/Source/CMakeVersion.rc
/Source/CMakeInstallDestinations.cmake
/Source/CMakeInstallSignTool.cmake
/Source/CMakeSourceDir.txt
/Modules/FindJava/FindJavaTest.jar
/Modules/FindJNI.h
/Modules/CPack.OSX.Info.plist
/Modules/ExtendedPath.cmake
/Help/dev/experimental.rst
/Help/release/dev.txt
/Utilities/cmlibuv/src/uv-common.c
/Utilities/cmlibuv/include/uv/version.h
/Utilities/cmcurl/include/curl/curlbuild.h
/Utilities/cmcurl/lib/curl_config.h
/Utilities/cmzlib/zconf.h
/Utilities/cmzlib/zlib.h
/Utilities/cmexpat/expat_config.h
/Utilities/cmlibrhash/rhash_config.h
/Utilities/cmlibarchive/libarchive/archive_config.h
/Utilities/cmliblzma/config.h
/Utilities/cmjsoncpp/include/json/config.h
/Utilities/cmnghttp2/cmakeconfig.h
/Utilities/cmzstd/lib/zstd.h
/Utilities/cmzstd/lib/zstd_errors.h
/Utilities/KWIML/src/kwiml-config.cmake
/Utilities/KWIML/src/version.h
/Utilities/cmThirdParty.h
/Templates/MSBuild/FlagTables/
Packaging/QtSDK/qt.tools.cmake.xx.qs
.php-cs-fixer.cache
/Source/LexerParser/*Lexer.cxx
/Source/LexerParser/*Lexer.h
/Source/LexerParser/*Parser.cxx
/Source/LexerParser/*Parser.y
/Source/LexerParser/*ParserTokens.h
**/__pycache__/
**/*.pyc
*.profraw
lcov.info
.coverage
coverage.xml

# CI jobs that run in symlinked trees produce these artifacts.
/real_work/
/work

# MacOS Finder files.
.DS_Store

# Python compile output.
*.pyc

# See Utilities/Sphinx/tutorial_archive.cmake
/Help/_generated

# CLion work directory
/.idea/
# CLion build directories
/cmake-build-*/

# QtCreator files.
/CMakeLists.txt.user*

# Visual Studio Code
/.vscode/
/.cache/

# Visual Studio work directory
/.vs/
# Visual Studio build directory
/out/

# clang-tidy output
/clang-tidy-fixes.patch
